* {
  padding: 0;

  margin: 0;

  border: none;
}

.create-breeder-page {
  background: #e7cdbf;
  display: flex;
  justify-content: center;
  align-items: center;

  .create-breeder-background {
    width: 80%;
    height: 80%;
    border: 2px solid var(--black, #121212);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;

    .create-breeder-content {
      display: grid;
      gap: 30px;
      width: 80%;

      .create-breeder-content-row1 {
        color: #121212;
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 50px;
      }

      .create-breeder-content-row2,
      .create-breeder-content-row5 {
        display: grid;
        grid-template-columns: auto auto;
        gap: 30px;

        // .gender {
        //   width: 80%;
        //   .gender-label {
        //     // width: 80%;
        //     .male-label,
        //     .female-label {
        //       display: inline;
        //       margin-left: 100px;
        //       margin-right: 0;
        //       .gender-input {
        //         margin-left: 30px;
        //       }
        //     }
        //   }
        // }
        .first-name,
        .last-name,
        .commission,
        .city {
          display: grid;
          gap: 10px;

          .first-name-label,
          .last-name-label,
          .commission-label,
          .city-label {
            color: #121212;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }

          .first-name-input,
          .last-name-input,
          .commission-input,
          .city-input {
            border-radius: 12px;
            border: 1px solid #121212;
            height: 56px;
            background: none;
            text-indent: 5px;
            color: #121212;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }

      .create-breeder-content-row3,
      .create-breeder-content-row4,
      .create-breeder-content-row6,
      .create-breeder-content-row7,
      .create-breeder-content-row8 {
        display: grid;
        gap: 10px;

        .email-label,
        .password-label,
        .address-label,
        .phone-label {
          color: #121212;
          font-family: Inter;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }

        .email-input,
        .password-input,
        .address-input,
        .phone-input {
          border-radius: 12px;
          border: 1px solid #121212;
          height: 56px;
          background: none;
          text-indent: 5px;
          font-size: 20px;
        }
      }

      .create-breeder-content-row9 {
        display: flex;
        justify-content: flex-end;
        gap: 30px;
        margin-bottom: 50px;

        .create-btn {
          color: #121212;
          font-family: Poppins;
          font-size: 26px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          border-radius: 9px;
          background: #0097b2;
          width: 187.115px;

          height: 52px;

          &:hover {
            opacity: 0.7;
            cursor: pointer;
          }
        }

        .cancel-btn {
          border-radius: 9px;
          border: 1px solid #0097b2;
          background: rgba(163, 167, 144, 0);
          width: 187.115px;
          height: 52px;
          color: #121212;
          font-family: Poppins;
          font-size: 26px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;

          &:hover {
            opacity: 0.7;
            cursor: pointer;
          }
        }
      }
    }
  }
}
