* {
  margin     : 0;
  padding    : 0;
  border     : 0;
  font-size  : 100%;
  font-family: "Saira Condensed";
  --nude     : #e7cdbf;
}

.blog-detail-container {
  display           : grid;
  grid-template-rows: auto auto;

  .header {
    height         : 84px;
    background     : #121212;
    display        : flex;
    justify-content: center;
    align-items    : center;

    .navigation-bar {
      width          : 1120px;
      height         : 64px;
      display        : flex;
      justify-content: space-between;

      .navigation-bar-left-content {
        display    : inline-flex;
        align-items: center;
        gap        : 11px;

        .logo {
          width : 64px;
          height: 64px;
        }

        .project-name {
          font-size  : 32px;
          font-weight: 700;
          color      : #fff;
        }
      }

      .navigation-bar-right-content {
        display        : flex;
        width          : 600px;
        justify-content: space-between;
        align-items    : center;
        flex-shrink    : 0;

        a {
          color      : #fff;
          font-size  : 20px;
          font-weight: 700;
          padding    : 8px 15px;
          cursor     : pointer;

          &:hover {
            opacity: 0.7;
          }
        }

        .staff {
          border-radius: 24px;
          background   : #df0012;
          padding      : 7px 21px;
        }
      }
    }
  }

  .body-content {
    display              : grid;
    grid-template-columns: 10% auto;

    // .navigation-bar-vertically {
    //   padding-top   : 56px;
    //   display       : flex;
    //   flex-direction: column;
    //   gap           : 56px;
    //   flex-shrink   : 0;
    //   background    : #1c1c1c;
    //   color         : #fff;
    //   font-size     : 26px;
    //   font-weight   : 400;
    //   line-height   : normal;
    //   align-items   : center !important;
    //   height        : 100% !important;

    //   a {
    //     color: #fff;

    //     &:hover {
    //       opacity: 0.7;
    //     }
    //   }

    //   // .koi {
    //   //   margin-left: 30px;
    //   //   display: flex;
    //   //   height: 67px;
    //   //   padding: 10px 21px;
    //   //   justify-content: center;
    //   //   align-items: center;
    //   //   gap: 10px;
    //   //   align-self: stretch;
    //   //   background: #df0012;
    //   // }
    // }

    .body-content-right {
      background: var(--nude);

      .fish-detail-content {
        display           : grid;
        width             : 80%;
        margin            : 0 auto;
        margin-top        : 40px;
        grid-template-rows: auto;
        gap               : 30px;
        margin-top        : 120px;

        .fish-detail-content-row1 {
          display        : flex;
          gap            : 100px;
          justify-content: flex-end;
          align-items    : center;

          .status {
            color      : #121212;
            text-align : right;
            font-family: Poppins;
            font-size  : 26px;
            font-style : normal;
            font-weight: 700;
            line-height: normal;
          }

          .set-status {
            -webkit-appearance: none;
            width             : 226px;
            height            : 52px;
            flex-shrink       : 0;
            border-radius     : 9px;
            border            : 0.75px solid #0097b2;
            background        : #fff;
            color             : #121212;
            font-family       : Poppins;
            font-size         : 26px;
            font-style        : normal;
            font-weight       : 400;
            line-height       : normal;
            align-items       : center;
            justify-content   : center;
            text-align        : center;
          }
        }

        .fish-detail-content-row2 {
          color      : #121212;
          font-family: Poppins;
          font-size  : 36px;
          font-style : normal;
          font-weight: 600;
          line-height: normal;
        }

        .fish-detail-content-row3 {
          color      : #121212;
          font-family: Inter;
          font-size  : 24px;
          font-style : normal;
          font-weight: 500;
          line-height: normal;
        }

        .fish-detail-content-row4,
        .fish-detail-content-row6

        /*,
              .fish-detail-content-row7 */
          {
          display           : grid;
          grid-template-rows: auto;
          gap               : 10px;

          .create-by-label,
          .title-label,
          .pond-address-label {
            color      : #121212;
            font-family: Inter;
            font-size  : 24px;
            font-style : normal;
            font-weight: 400;
            line-height: normal;
          }

          .create-by-input,
          .title-input,
          .pond-address-input {
            width        : 100%;
            height       : 56px;
            border-radius: 12px;
            border       : 1px solid #121212;
            text-indent  : 5px;
            color        : #121212;
            font-family  : Inter;
            font-size    : 24px;
            font-style   : normal;
            font-weight  : 400;
            line-height  : normal;
            background   : none;
          }
        }

        .fish-detail-content-row5,
        .fish-detail-content-row6,
        .fish-detail-content-row7,
        .fish-detail-content-row8,
        .fish-detail-content-row9 {
          display              : grid;
          grid-template-columns: auto auto;
          gap                  : 100px;

          .update-by,
          .fish-name,
          .origin,
          .shape,
          .size,
          .gender,
          .age,
          .weight,
          .sold-price {
            display           : grid;
            grid-template-rows: auto;
            gap               : 10px;

            .update-by-label,
            .fish-name-label,
            .origin-label,
            .shape-label,
            .size-label,
            .gender-label,
            .age-label,
            .weight-label,
            .sold-price-label {
              color      : #121212;
              font-family: Inter;
              font-size  : 24px;
              font-style : normal;
              font-weight: 400;
              line-height: normal;
            }

            .update-by-input,
            .fish-name-input,
            .origin-input,
            .shape-input,
            .size-input,
            .gender-input,
            .age-input,
            .weight-input,
            .sold-price-input {
              border-radius: 12px;
              border       : 1px solid #121212;
              height       : 56px;
              color        : #121212;
              font-family  : Inter;
              font-size    : 24px;
              font-style   : normal;
              font-weight  : 400;
              line-height  : normal;
              text-indent  : 5px;
              background   : none;
            }
          }

          .last-update {
            display           : grid;
            grid-template-rows: auto;
            gap               : 10px;

            .last-update-label {
              color      : #121212;
              font-family: Inter;
              font-size  : 24px;
              font-style : normal;
              font-weight: 400;
              line-height: normal;
            }

            .last-update-input {
              border-radius: 12px;
              border       : 1px solid #121212;
              height       : 56px;
              color        : #121212;
              font-family  : Inter;
              font-size    : 24px;
              font-style   : normal;
              font-weight  : 400;
              line-height  : normal;
              text-indent  : 5px;
              background   : none;
            }
          }
        }

        .fish-detail-content-row10 {
          display        : flex;
          justify-content: flex-end;
          gap            : 30px;

          .update-btn {
            border-radius: 9px;
            background   : #0097b2;
            width        : 187.115px;
            height       : 52px;
            color        : #121212;
            font-family  : Poppins;
            font-size    : 26px;
            font-style   : normal;
            font-weight  : 700;
            line-height  : normal;
          }

          .cancel-btn {
            border       : 2px solid #0097b2;
            background   : none;
            border-radius: 9px;
            width        : 187.115px;
            height       : 52px;
            color        : #121212;
            font-family  : Poppins;
            font-size    : 26px;
            font-style   : normal;
            font-weight  : 700;
            line-height  : normal;
            margin-bottom: 50px;
          }

          .update-btn:hover,
          .cancel-btn:hover {
            cursor : pointer;
            opacity: 0.7;
          }
        }
      }
    }
  }
}