* {
    padding: 0;
    margin : 0;
    border : none;
}

.checkout-page {
    width          : 100vw;
    min-height     : 100vh;
    background     : #e7cdbf;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.checkout-background {
    width          : 70%;
    border-radius  : 12px;
    background     : #fff;
    box-shadow     : 2px 4px 6px 0px rgba(0, 0, 0, 0.25);
    display        : flex;
    justify-content: center;
    align-items    : center;
    padding        : 50px 0;
    margin         : 50px 0;
}

.checkout-content {
    display: grid;
    gap    : 20px;
    width  : 80%;
}

.congratulatory-message {
    text-align   : center;
    margin-bottom: 20px;

    .congratulatory-text {
        font-size  : 28px;
        font-weight: bold;
        color      : #df0012;
        font-family: "Saira Condensed", sans-serif;
    }

    .payment-info {
        font-size  : 20px;
        font-family: Inter, sans-serif;
        color      : #121212;
        line-height: 1.5;

        strong {
            color      : #df0012;
            font-weight: 600;
        }
    }
}

.phone,
.city,
.address,
.name {
    display: grid;
    gap    : 10px;
    width  : 80%;
    margin : 0 auto;
}

.phone-label,
.city-label,
.address-label,
.name-label {
    color      : #121212;
    font-family: Inter, sans-serif;
    font-size  : 24px;
    font-weight: 600;
    line-height: normal;
}

.phone-input,
.city-input,
.address-input,
.name-input {
    border-radius: 12px;
    border       : 1px solid #121212;
    height       : 56px;
    text-indent  : 5px;
    color        : #121212;
    font-family  : Inter, sans-serif;
    font-size    : 20px;
    background   : #e7cdbf;
}

.btn-for-checkout-page {
    display        : flex;
    justify-content: center;
    gap            : 30px;

    .checkout-btn,
    .checkout-cancel-btn {
        color          : #fff;
        font-family    : "Saira Condensed", sans-serif;
        font-size      : 24px;
        font-weight    : 400;
        display        : flex;
        width          : 144px;
        height         : 55px;
        padding        : 16px 31px;
        justify-content: center;
        align-items    : center;
        border-radius  : 50px;
        background     : #df0012;

        &:hover {
            opacity: 0.7;
            cursor : pointer;
        }

        &:disabled {
            background-color: #d3d3d3;
            color           : #888;
            cursor          : not-allowed;
        }
    }

    .checkout-cancel-btn {
        background: #121212;
    }
}