@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");

* {
  margin     : 0;
  padding    : 0;
  border     : 0;
  font-size  : 100%;
  font-family: "Saira Condensed";
  --nude     : #e7cdbf;
}

.header {
  height         : 84px;
  background     : #121212;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.body-content {
  background: var(--nude);
  width     : 100%;
  display   : flex !important;

  .navigation-bar-vertically-history {
    padding-top   : 56px;
    display       : flex;
    flex-direction: column;
    gap           : 56px;
    flex-shrink   : 0;
    background    : #1c1c1c;
    width         : 160px;
    min-height    : 100vh;
    color         : #fff;
    font-size     : 26px;
    font-weight   : 400;
    line-height   : normal;
    align-items   : center !important;
    margin-top    : 84px;
    position      : fixed;

    a {
      color: #fff;

      &:hover {
        opacity: 0.7;
      }
    }

    // .koi {
    //   margin-left: 30px;
    //   display: flex;
    //   height: 67px;
    //   padding: 10px 21px;
    //   justify-content: center;
    //   align-items: center;
    //   gap: 10px;
    //   align-self: stretch;
    //   background: #df0012;
    // }
  }

  .right-content {
    width      : 80%;
    background : var(--nude);
    margin-left: 90px;

    .search {
      display       : flex;
      width         : 560px;
      height        : 44px;
      // margin-top: 50px;
      // margin-left: 100px;
      margin-top    : 120px;
      margin-left   : 140px;


      align-items: center;

      .search-text {
        font-size   : 24px;
        font-weight : 300;
        margin-right: 20px;
      }

      .search-value {
        width          : 80%;
        height         : 100%;
        position       : relative;
        display        : flex;
        align-items    : center;
        justify-content: center;

        .search-input {
          height       : 100%;
          width        : 100%;
          border-radius: 8px;
          border       : 1px solid #3d3d3d;
          outline      : none;
          text-indent  : 5px;
          font-size    : 24px;

          &::placeholder {
            font-size  : 24px;
            font-weight: 250;
            opacity    : 0.4;
          }
        }

        .search-icon {
          position       : absolute;
          right          : 10px;
          display        : flex;
          justify-content: center;
          align-items    : center;

          &:hover {
            opacity: 0.5;
          }
        }
      }
    }

    .table-manage-request {
      width          : 100%;
      margin-top     : 50px;
      margin-left    : 140px;
      border-collapse: collapse;
      border         : 1px solid black;

      th,
      td {
        border     : none;
        color      : #fff;
        height     : 60px;
        font-size  : 24px;
        font-weight: 400;
        text-align : left;
        padding    : 0 10px;

        a {
          color: black;
        }

        a:hover {
          cursor : pointer;
          opacity: 0.5;
        }
      }

      th {
        background: #1c1b1f;
      }

      td {
        color: black;
      }

      tr:nth-child(even) {
        background: #d5bdb0;
      }
    }
  }
}