<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreateAuction</title>
    <link rel="stylesheet" href="CreateAuction.css">
</head>

<body>
    <div class="create-auction-page">
        <div class="create-auction-background">
            <div class="create-auction-content">
                <div class="auction-date">
                    <label for="auction-date-input" class="auction-date-label">Blog Title</label>
                    <input type="date" class="auction-date-input" value="Tên auction">
                </div>

            </div>

        </div>
    </div>
</body>

</html>