<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreateBlog</title>
    <link rel="stylesheet" href="CreateBlog.css">
</head>

<body>
    <div class="create-blog-page">
        <div class="create-blog-background">
            <div class="create-blog-content">
                <div class="blog-title">
                    <label for="blog-title-input" class="blog-title-label">Blog Title</label>
                    <input type="text" class="blog-title-input" value="Tên blog">
                </div>
                <div class="blog-content">
                    <label for="blog-content-input" class="blog-content-label">Blog Content</label>
                    <input type="text" class="blog-content-input" value="Nội dung blog">
                </div>
            </div>

        </div>
    </div>
</body>

</html>