<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreateBreeder</title>
    <link rel="stylesheet" href="CreateBreeder.css">
</head>

<body>
    <div class="create-breeder-page">
        <div class="create-breeder-background">
            <div class="create-breeder-content">
                <div class="create-breeder-content-row1">Breeder Information</div>
                <div class="create-breeder-content-row2">
                    <div class="first-name">
                        <label for="first-name-input" class="first-name-label">First Name</label>
                        <input type="text" class="first-name-input" value="Phat">
                    </div>
                    <div class="last-name">
                        <label for="last-name-input" class="last-name-label">Last Name</label>
                        <input type="text" class="last-name-input" value="Tang">
                    </div>
                </div>
                <div class="create-breeder-content-row3">
                    <label for="email-input" class="email-label">Email</label>
                    <input type="text" class="email-input" value="PhatTSE181923@gmail.com">
                </div>
                <div class="create-breeder-content-row4">
                    <label for="password-input" class="password-label">Password</label>
                    <input type="password" class="password-input" value="wtf">
                </div>
                <div class="create-breeder-content-row5">
                    <div class="gender">
                        <label for="gender-input" class="gender-label">Gender</label>
                        <input type="text" class="gender-input" value="Nam">
                    </div>
                    <div class="city">
                        <label for="city-input" class="city-label">City</label>
                        <input type="text" class="city-input" value="Tra Vinh">
                    </div>
                </div>
                <div class="create-breeder-content-row6">
                    <label for="address-input" class="address-label">Address</label>
                    <input type="text" class="address-input" value="wtf">
                </div>
                <div class="create-breeder-content-row7">
                    <label for="phone-input" class="phone-label">Phone</label>
                    <input type="tel" class="phone-input" value="wtf">
                </div>
                <div class="create-breeder-content-row8">
                    <label for="commission-input" class="commission-label">Address</label>
                    <input type="text" class="commission-input" value="wtf">
                </div>
                <div class="create-breeder-content-row9">
                    <button class="create-btn">Create</button>
                    <button class="cancel-btn">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</body>

</html>