<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FishDetail</title>
    <link rel="stylesheet" href="FishDetail.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="blog-detail-container">
        <div class="header">
            <div class="navigation-bar">
                <div class="navigation-bar-left-content">
                    <img class="logo" src="../../assets/images/logo_png.png" alt="">
                    <div class="project-name">Nishikigoi Nexus</div>
                </div>

                <div class="navigation-bar-right-content">
                    <a class="staff">STAFF</a>
                    <a class="home">HOME</a>
                    <a class="auction">AUCTION</a>
                    <a class="blog">BLOG</a>
                    <a class="about">ABOUT</a>
                    <a class="account">ACCOUNT</a>
                </div>
            </div>
        </div>
        <div class="body-content">
            <div class="navigation-bar-vertically">
                <a class="member">Member</a>
                <a class="breeder">Breeder</a>
                <a class="request">Request</a>
                <a class="auction-vertically">Auction</a>
                <a class="koi">KOI</a>
                <a class="blog-vertically">Blog</a>
            </div>
            <div class="body-content-right">
                <div class="fish-detail-content">
                    <div class="fish-detail-content-row1">
                        <div class="status">Status: Active</div>
                        <select name="" id="" class="set-status">
                            <option value="">Set status &nbsp;&nbsp; v</option>

                        </select>
                    </div>
                    <div class="fish-detail-content-row2">
                        Fish Detail
                    </div>
                    <div class="fish-detail-content-row3">
                        Create date: YYYY/MM/DD hh:mm:ss
                    </div>
                    <div class="fish-detail-content-row4">
                        <label for="create-by-input" class="create-by-label">Create By</label>
                        <input type="text" class="create-by-input" value="Thinh">
                    </div>
                    <div class="fish-detail-content-row5">
                        <div class="update-by">
                            <label for="update-by-input" class="update-by-label">Update By</label>
                            <input type="text" class="update-by-input" value="Thinh">
                        </div>
                        <div class="last-update"> <label for="last-update-input" class="last-update-label">Last
                                Update</label>
                            <input type="datetime" class="last-update-input" value="YYYY/MM/DD hh:mm:ss">
                        </div>
                    </div>
                    <div class="fish-detail-content-row6">
                        <div class="fish-name">
                            <label for="fish-name-input" class="fish-name-label">Fish Name</label>
                            <input type="text" class="fish-name-input" value="Thinh">
                        </div>
                        <div class="origin">
                            <label for="origin-input" class="origin-label">Origin</label>
                            <input type="text" class="origin-input" value="Nhat Ban">
                        </div>
                    </div>
                    <div class="fish-detail-content-row7">
                        <div class="shape">
                            <label for="shape-input" class="shape-label">Shape</label>
                            <input type="text" class="shape-input" value="Thinh">
                        </div>
                        <div class="size">
                            <label for="size-input" class="size-label">Size</label>
                            <input type="text" class="origin-input" value="35">
                        </div>
                    </div>
                    <div class="fish-detail-content-row8">
                        <div class="gender">
                            <label for="gender-input" class="gender-label">Gender</label>
                            <input type="text" class="gender-input" value="Thinh">
                        </div>
                        <div class="age">
                            <label for="age-input" class="age-label">Age</label>
                            <input type="text" class="age-input" value="3">
                        </div>
                    </div>
                    <div class="fish-detail-content-row9">
                        <div class="weight">
                            <label for="weight-input" class="weight-label">Weight</label>
                            <input type="text" class="weight-input" value="1534">
                        </div>
                        <div class="sold-price">
                            <label for="sold-price-input" class="sold-price-label">Sold Price</label>
                            <input type="text" class="sold-price-input" value="3000">
                        </div>
                    </div>

                    <div class="fish-detail-content-row10">
                        <button class="update-btn">Update</button>
                        <button class="cancel-btn">Cancel</button>
                    </div>
                </div>

            </div>


        </div>

    </div>





</body>

</html>