<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ManageBreeder</title>
    <link rel="stylesheet" href="ManageBreeder.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="navigation-bar">
            <div class="navigation-bar-left-content">
                <img class="logo" src="../assets/images/logo_png.png" alt="">
                <div class="project-name">Nishikigoi Nexus</div>
            </div>

            <div class="navigation-bar-right-content">
                <a class="staff">STAFF</a>
                <a class="home">HOME</a>
                <a class="auction">AUCTION</a>
                <a class="blog">BLOG</a>
                <a class="about">ABOUT</a>
                <a class="account">ACCOUNT</a>
            </div>
        </div>
    </div>
    <div class="body-content">
        <div class="navigation-bar-vertically">
            <a class="member">Member</a>
            <a class="breeder">Breeder</a>
            <a class="rquest">Request</a>
            <a class="auction-vertically">Auction</a>
            <a class="koi">KOI</a>
            <a class="blog-vertically">Blog</a>
        </div>
        <div class="body-content-right">
            <div class="search">
                <div class="search-text">Search: </div>
                <div class="search-value"> <input class="search-input" placeholder="Search by Email and Phone number"
                        type="text">
                    <div class="search-icon">
                        <img src="../../assets/images/search.svg" alt="">
                    </div>
                </div>

            </div>
            <table class="table-manage-breeder">
                <tr>
                    <th>No</th>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Status</th>


                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>Thinh</td>
                    <td>Dinh Le</td>
                    <td>thinhdlse181755@fpt.edu.vn</td>
                    <td>0362683366</td>
                    <td>Active</td>
                </tr>

            </table>
        </div>


    </div>



</body>

</html>