<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RequestDetail</title>
    <link rel="stylesheet" href="RequestDetail.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="request-detail-container">
        <div class="header">
            <div class="navigation-bar">
                <div class="navigation-bar-left-content">
                    <img class="logo" src="../../assets/images/logo_png.png" alt="">
                    <div class="project-name">Nishikigoi Nexus</div>
                </div>

                <div class="navigation-bar-right-content">
                    <a class="staff">STAFF</a>
                    <a class="home">HOME</a>
                    <a class="auction">AUCTION</a>
                    <a class="blog">BLOG</a>
                    <a class="about">ABOUT</a>
                    <a class="account">ACCOUNT</a>
                </div>
            </div>
        </div>
        <div class="body-content">
            <div class="navigation-bar-vertically">
                <a class="member">Member</a>
                <a class="breeder">Breeder</a>
                <a class="request">Request</a>
                <a class="auction-vertically">Auction</a>
                <a class="koi">KOI</a>
                <a class="blog-vertically">Blog</a>
            </div>
            <div class="body-content-right">
                <div class="request-detail-content">
                    <div class="request-detail-content-row1">
                        <div class="status">Status: Active</div>
                        <select name="" id="" class="set-status">
                            <option value="">Set status &nbsp;&nbsp; v</option>

                        </select>
                    </div>
                    <div class="request-detail-content-row2">
                        Request Detail
                    </div>
                    <div class="request-detail-content-row3">
                        Create date: YYYY/MM/DD hh:mm:ss
                    </div>
                    <div class="request-detail-content-row4">
                        <div class="update-by">
                            <label for="update-by-input" class="update-by-label">Update By</label>
                            <input type="text" class="update-by-input" value="Thinh">
                        </div>
                        <div class="update-date"> <label for="update-date-input" class="update-date-label">
                                Update Date</label>
                            <input type="datetime" class="update-date-input" value="YYYY/MM/DD hh:mm:ss">
                        </div>
                    </div>
                    <div class="request-detail-content-row5">
                        <div class="create-by">
                            <label for="create-by-input" class="create-by-label">Create By</label>
                            <input type="text" class="create-by-input" value="Thinh">
                        </div>
                        <div class="expected-date"> <label for="expected-date-input"
                                class="expected-date-label">Expected Date</label>
                            <input type="datetime" class="expected-date-input" value="YYYY/MM/DD">
                        </div>
                    </div>
                    <div class="request-detail-content-row6">
                        <div class="delivery-cost">
                            <label for="delivery-cost-input" class="delivery-cost-label">Delivery Cost</label>
                            <input type="number" class="delivery-cost-input" value="1234">
                        </div>
                        <div class="fee"> <label for="fee-input" class="fee-label">Fee</label>
                            <input type="number" class="fee-input" value="1534">
                        </div>
                    </div>
                    <div class="request-detail-content-row7">
                        <label for="note-input" class="note-label">Note</label>
                        <input type="text" class="note-input" value="Note zo day" />
                    </div>
                    <div class="request-detail-content-row8">
                        <button class="send-payment-request-btn">Send Payment Request</button>
                    </div>
                    <div class="request-detail-content-row9">
                        <div class="fish-entry-information">Fish Entry Information</div>
                    </div>

                    <div class="request-detail-content-row10">
                        <div class="fish-id">
                            <label for="fish-id-input" class="fish-id-label">Fish ID</label>
                            <input type="text" class="fish-id-input" value="1">
                        </div>
                        <div class="auction-id"> <label for="auction-id-input" class="auction-id-label">Auction
                                ID</label>
                            <input type="text" class="auction-id-input" value="1534">
                        </div>
                    </div>

                    <div class="request-detail-content-row11">
                        <div class="auction-method">
                            <label for="auction-method-input" class="auction-method-label">Auction Method</label>
                            <input type="text" class="auction-method-input" value="1">
                        </div>
                        <div class="increment"> <label for="increment-input" class="increment-label">Increment</label>
                            <input type="text" class="increment-input" value="1534">
                        </div>
                    </div>
                    <div class="request-detail-content-row12">
                        <div class="min-price">
                            <label for="min-price-input" class="min-price-label">Min Price</label>
                            <input type="number" class="min-price-input" value="1">
                        </div>
                        <div class="max-price"> <label for="max-price-input" class="max-price-label">Max Price</label>
                            <input type="number" class="max-price-input" value="1534">
                        </div>
                    </div>

                    <div class="request-detail-content-row13">
                        <div class="expected-date">
                            <label for="expected-date-input" class="expected-date-label">Expected Date</label>
                            <input type="datetime" class="min-price-input" value="1">
                        </div>
                        <div class="start-date"> <label for="start-date-input" class="start-date-label">Start
                                Date</label>
                            <input type="datetime" class="start-date-input" value="1534">
                        </div>
                    </div>
                    <div class="request-detail-content-row14">
                        <div class="end-date">
                            <label for="end-date-input" class="end-date-label">End Date</label>
                            <input type="datetime" class="end-date-input" value="1">
                        </div>
                        <div class="highest-price"> <label for="highest-price-input" class="highest-price-label">Highest
                                Price</label>
                            <input type="datetime" class="highest-price-input" value="1534">
                        </div>
                    </div>
                    <div class="request-detail-content-row15">
                        <div class="deny">Deny</div>
                    </div>
                    <div class="request-detail-content-row16">
                        <label for="reason-input" class="reason-label">Reason</label>
                        <input type="text" class="reason-input" value="diu chiu tra tien" />
                    </div>
                    <div class="request-detail-content-row17">
                        <button class="deny-btn">Deny</button>
                        <button class="cancel-btn">Cancel</button>
                    </div>
                </div>

            </div>


        </div>

    </div>





</body>

</html>