<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="LoginPage.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="login-page">
        <div class="login-content">
            <div class="left-content">
                <div class="logo-name">
                    <div class="logo">
                    </div>
                    <div class="name">Nishikigoi Nexus</div>
                </div>
            </div>
            <div class="right-content">
                <div class="login-form">
                    <div class="login-form-title">Login </div>
                    <div class="login-form-content">

                        <div class="email">
                            <div class="email-title">Email</div>
                            <input class="email-input" type="text">
                        </div>
                        <div class="password">
                            <div class="password-title">Password</div>
                            <input class="password-input" type="password">
                        </div>
                        <div class="remember-and-forget">
                            <div class="remember">
                                <input class="remember-checkbox" type="checkbox">
                                <div class="remember-text">Keep me logged in</div>
                            </div>
                            <a class="forget-account" href="#">Forgot username or password?</a>

                        </div>

                        <div class="login-and-signup">
                            <button class="login-btn">Login</button>
                            <div class="text-with-login">
                                Don’t have an account?
                                <a class="login" href="#">Signup</a>
                            </div>
                            <div class="or-line">
                                <hr class="left-line"> or
                                <hr class="right-line">
                            </div>
                        </div>
                        <div class="login-google">
                            <img class="google-icon" src="../assets/images/google.png" alt="">
                            <div class="login-google-text">Continue with Google</div>
                        </div>
                        <div class="login-facebook">
                            <img class="facebook-icon" src="../assets/images/facebook.svg" alt="">
                            <div class="login-facebook-text">Continue with Google</div>
                        </div>
                        <div class="login-X">
                            <img class="X-icon" src="../assets/images/X.png" alt="">
                            <div class="login-X-text">Continue with Google</div>
                        </div>
                    </div>
                    <div class="note">By logging in to Nishikigoi Nexus, we confirm that you have carefully read,
                        understood and agree to comply with our <a class="term-of-service" href="#">Terms of Service</a>
                        and <a class="private-policy" href="#">Privacy Policy</a> .
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>