<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AuctionScreen</title>
    <link rel="stylesheet" href="AuctionScreen.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="header">
        <div class="navigation-bar">
            <div class="navigation-bar-left-content">
                <img class="logo" src="../../assets/images/logo_png.png" alt="">
                <div class="project-name">Nishikigoi Nexus</div>
            </div>
            <div class="navigation-bar-right-content">
                <a class="home">HOME</a>
                <a class="auction">AUCTION</a>
                <a class="blog">BLOG</a>
                <a class="about">ABOUT</a>
                <div class="account">ACCOUNT</div>
            </div>
        </div>
    </div>
    <div class="auction-screen-content">
        <div class="auction-screen-content-row">
            <div class="auction-item">
                <div class="auction-item-row1">
                    <div class="auction-id">Auction: #1</div>
                    <div class="auction-fish-number">3 Fishes</div>
                </div>
                <div class="auction-item-row2">
                    <div class="auction-status">Bidding</div>
                    <div class="auction-details">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </div>
            <div class="auction-item">
                <div class="auction-item-row1">
                    <div class="auction-id">Auction: #1</div>
                    <div class="auction-fish-number">3 Fishes</div>
                </div>
                <div class="auction-item-row2">
                    <div class="auction-status">Bidding</div>
                    <div class="auction-details">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </div>
            <div class="auction-item">
                <div class="auction-item-row1">
                    <div class="auction-id">Auction: #1</div>
                    <div class="auction-fish-number">3 Fishes</div>
                </div>
                <div class="auction-item-row2">
                    <div class="auction-status">Bidding</div>
                    <div class="auction-details">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="auction-screen-content-row">
            <div class="auction-item">
                <div class="auction-item-row1">
                    <div class="auction-id">Auction: #1</div>
                    <div class="auction-fish-number">3 Fishes</div>
                </div>
                <div class="auction-item-row2">
                    <div class="auction-status">Bidding</div>
                    <div class="auction-details">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </div>
            <div class="auction-item">
                <div class="auction-item-row1">
                    <div class="auction-id">Auction: #1</div>
                    <div class="auction-fish-number">3 Fishes</div>
                </div>
                <div class="auction-item-row2">
                    <div class="auction-status">Bidding</div>
                    <div class="auction-details">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </div>
            <div class="auction-item">
                <div class="auction-item-row1">
                    <div class="auction-id">Auction: #1</div>
                    <div class="auction-fish-number">3 Fishes</div>
                </div>
                <div class="auction-item-row2">
                    <div class="auction-status">Bidding</div>
                    <div class="auction-details">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="logo-footer">
            <img class="logo-img-footer" src="../../assets/images/logo_png.png" alt="">
            <div class="name-project-footer">Nishikigoi Nexus</div>
        </div>
        <div class="social-contact">
            <div class="instagram">
                <img src="../../assets/images/Instagram.svg" alt="">
            </div>
            <div class="facebook">
                <img src="../../assets/images/Social Icons (1).svg" alt="">
            </div>
            <div class="google">
                <img src="../../assets/images/Vector.svg" alt="">
            </div>
        </div>
        <div class="nav-bar-footer">
            <a href="#">Home</a>
            <a href="#">Blog</a>
            <a href="#">Contact</a>
            <a href="#">About</a>

        </div>
    </footer>
</body>

</html>