* {
    margin     : 0;
    padding    : 0;
    border     : 0;
    font-size  : 100%;
    font-family: "Saira Condensed";
}

body {
    background: #E7CDBF;
}

.header {
    width     : 100%;
    background: #000;

    display        : flex;
    justify-content: center;
    align-items    : center;
    align-self     : stretch;

}

.navigation-bar {
    gap            : 30px;
    width          : 80%;
    display        : flex;
    align-items    : center;
    color          : #fff;
    justify-content: center;
    align-items    : center;
    justify-content: space-between;
}

.logo {
    width : 64px;
    height: 64px;
}

.navigation-bar-left-content {
    display    : flex;
    align-items: center;
    gap        : 11px;
}

.project-name {
    color: #FFF;

    font-family: "Saira Condensed";
    font-size  : 32px;
    font-style : normal;
    font-weight: 700;
    line-height: normal;
}

.navigation-bar-right-content {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    flex-shrink    : 0;
    gap            : 50px;
}

.home,
.auction,
.blog,
.about,
.account {
    color      : #FFF;
    font-family: "Saira Condensed";
    font-size  : 20px;
    font-style : normal;
    font-weight: 700;
    line-height: normal;
    padding    : 8px 15px;
    cursor     : pointer;

}

.home:hover,
.auction:hover,
.blog:hover,
.about:hover,
.account:hover {
    opacity: 0.7;
}


.request {
    border-radius: 24px;
    background   : var(--Do, #DF0012);

}

.account {
    border-radius: 40px;
    background   : #3D3D3D;


}

.slogan {
    width   : 80%;
    position: absolute;
}

.slogan-above,
.slogan-under {
    color      : #FFF;
    font-family: "Saira Condensed";
    font-size  : 100px;
    font-style : normal;
    font-weight: 700;
    line-height: 100px;
}



.footer {
    background     : url(../../assets/images/Form.png);
    background-size: cover;
    width          : 100vw;
    height         : 300px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;

}

.logo-footer {
    display    : inline-flex;
    align-items: center;
    gap        : 11px;
    width      : 80%;
    margin     : 0 auto;
}

.logo-img-footer {
    width : 108px;
    height: 108px;
}

.name-project-footer {
    color      : #FFF;
    font-family: "Saira Condensed";
    font-size  : 64px;
    font-style : normal;
    font-weight: 700;
    line-height: normal;
}

.social-contact {
    width          : 80%;
    display        : flex;
    gap            : 20px;
    justify-content: flex-end;
    border-bottom  : 0.75px solid #FFF;
    opacity        : 0.7;
}

.nav-bar-footer a:hover,
.instagram:hover,
.facebook:hover,
.google:hover {
    opacity: 0.5;
    cursor : pointer;
}

.nav-bar-footer {
    display   : flex;
    gap       : 50px;
    margin-top: 20px;
}

.nav-bar-footer a {
    color          : #FFF;
    text-decoration: none;
    font-size      : 20px;
    font-style     : normal;
    font-weight    : 250;
    line-height    : normal;
}

.auction-screen-detail-content {
    width             : 90%;
    margin            : 0 auto;
    display           : grid;
    grid-template-rows: auto;
    margin-top        : 50px;
    margin-bottom     : 50px;

    .auction-screen-id {
        display        : flex;
        align-items    : center;
        justify-content: center;
        color          : #000;
        font-family    : "Saira Condensed";
        font-size      : 40px;
        font-style     : normal;
        font-weight    : 700;
        line-height    : normal;
    }

    .auction-screen-ending-time {
        display        : flex;
        align-items    : center;
        justify-content: center;
        color          : #000;
        font-family    : "Saira Condensed";
        font-size      : 24px;
        font-style     : normal;
        font-weight    : 400;
        line-height    : normal;
    }

    .auction-screen-detail-content-row {
        display              : grid;
        grid-template-columns: auto auto auto;
        gap                  : 10%;


        .fish-auction {
            border-radius: 24px;
            background   : #121212;
            box-shadow   : 2px 4px 6px 0px rgba(0, 0, 0, 0.25);
            width        : 300px;

            .fish-auction-img {
                width     : 260px;
                height    : 260px;
                margin    : 0 auto;
                margin-top: 20px;

                img {
                    width        : 100%;
                    border-radius: 24px;
                    height       : 100%;
                }
            }

            .fish-auction-center-content {

                .fish-auction-name {
                    color      : #FFF;
                    text-align : center;
                    font-size  : 26px;
                    font-style : normal;
                    font-weight: 500;
                    line-height: normal;
                }

                .fish-auction-ending-time {
                    color      : #34A853;
                    font-size  : 13px;
                    font-style : normal;
                    font-weight: 300;
                    text-align : center;
                    line-height: normal;
                }

                .fish-auction-price {
                    color        : #FFF;
                    font-size    : 20px;
                    font-style   : normal;
                    font-weight  : 500;
                    text-align   : center;
                    line-height  : normal;
                    margin-bottom: 10px;
                }



            }

            .fish-auction-left-content {
                width : 80%;
                margin: 0 auto;


                .fish-auction-method,
                .fish-auction-size,
                .fish-auction-origin {
                    color        : #FFF;
                    font-family  : Inter;
                    font-size    : 16px;
                    font-style   : normal;
                    font-weight  : 300;
                    line-height  : normal;
                    margin-bottom: 20px;
                }
            }

        }
    }
}