<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="Checkout.css">
</head>

<body>
    <div class="checkout-page">
        <div class="checkout-background">
            <div class="checkout-content">
                <div class="phone">
                    <label for="phone-input" class="phone-label">Phone</label>
                    <input type="text" class="phone-input" value="">
                </div>
                <div class="city">
                    <label for="city-input" class="city-label">City</label>
                    <input type="text" class="city-input" value="">
                </div>
                <div class="address">
                    <label for="address-input" class="address-label">Address</label>
                    <input type="text" class="address-input" value="">
                </div>
                <button class="checkout-btn">
                    Checkout
                </button>
            </div>

        </div>
    </div>
</body>

</html>