<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FishAuctionMethod1</title>
    <link rel="stylesheet" href="FishAuctionMethod1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="header">
        <div class="navigation-bar">
            <div class="navigation-bar-left-content">
                <img class="logo" src="../../assets/images/logo_png.png" alt="">
                <div class="project-name">Nishikigoi Nexus</div>
            </div>

            <div class="navigation-bar-right-content">
                <a class="home">HOME</a>
                <a class="auction">AUCTION</a>
                <a class="blog">BLOG</a>
                <a class="about">ABOUT</a>
                <div class="account">ACCOUNT</div>
            </div>
        </div>




    </div>
    <div class="fish-aucction-method3-content">
        <div class="fish-aucction-method3-content-row1">Auction#13</div>
        <div class="fish-aucction-method3-content-row2">Ending in: 4:13:03</div>
        <div class="fish-aucction-method3-content-row3">
            <div class="fish-aucction-method3-content-row3-col1">
                <img class="main-fish-img" src="../../assets/images/login1.png" alt="">
                <div class="fish-sub-img">
                    <div class="fish-sub-img1" data-src="../../assets/images/body1.png">
                        <img src="../../assets/images/body1.png" alt="">
                    </div>
                    <div class="fish-sub-img1" data-src="../../assets/images/login1.png">
                        <img src="../../assets/images/login1.png" alt="">
                    </div>
                    <div class="fish-sub-img1" data-src="../../assets/images/login1.png">
                        <img src="../../assets/images/login1.png" alt="">
                    </div>
                    <div class="fish-sub-img1" data-src="../../assets/images/login1.png">
                        <img src="../../assets/images/login1.png" alt="">
                    </div>
                </div>

            </div>
            <div class="fish-aucction-method3-content-row3-col2">
                <div class="fish-info">
                    <div class="fish-info-row1">
                        <div class="fish-info-name">Ca ngu</div>
                        <div class="fish-info-notion">
                            <i class="fa-solid fa-circle-exclamation"></i>

                        </div>
                    </div>
                    <div class="fish-info-row2">
                        <div class="fish-info-ending">Ending in: 23:13</div>
                        <div class="fish-info-tag">
                            <i class="fa-solid fa-tag"></i>
                            <div class="fish-number">Fish#14</div>
                        </div>
                    </div>
                    <div class="fish-info-row3">
                        <div class="fish-info-weight">
                            <i class="fa-solid fa-weight-hanging"></i>
                            <div class="weight-number">1234 ram</div>
                        </div>
                        <div class="fish-info-length">
                            <i class="fa-solid fa-ruler"></i>
                            <div class="length-number">1234 mm</div>
                        </div>
                    </div>
                    <div class="fish-info-row4">
                        <div class="fish-info-gender">
                            <i class="fa-solid fa-venus-mars"></i>
                            <div class="gender-text">Female</div>
                        </div>
                        <div class="fish-info-age">
                            <i class="fa-solid fa-calendar"></i>
                            <div class="age-text">22 months</div>
                        </div>
                    </div>
                    <div class="fish-info-row5">
                        <div class="fish-info-origin">
                            <i class="fa-solid fa-earth-americas"></i>
                            <div class="origin-text">Niigata, Japan</div>
                        </div>

                    </div>
                </div>
                <div class="bidding-history-background">

                    <div class="bidding-history-content">
                        <div class="bidding-history-info">
                            <div class="bidding-time">2024/10/15 10:47:10 &nbsp</div>
                            <div class="bidding-name-bidder">Thinh Dinh placed a bid &nbsp</div>
                        </div>
                        <div class="bidding-history-info">
                            <div class="bidding-time">2024/10/15 10:47:10 &nbsp</div>
                            <div class="bidding-name-bidder">Thinh Dinh placed a bid &nbsp</div>
                        </div>
                        <div class="bidding-history-info">
                            <div class="bidding-time">2024/10/15 10:47:10 &nbsp</div>
                            <div class="bidding-name-bidder">Thinh Dinh placed a bid &nbsp</div>
                        </div>
                        <div class="bidding-history-info">
                            <div class="bidding-time">2024/10/15 10:47:10 &nbsp</div>
                            <div class="bidding-name-bidder">Thinh Dinh placed a bid &nbsp</div>
                        </div>
                        <div class="bidding-history-info">
                            <div class="bidding-time">2024/10/15 10:47:10 &nbsp</div>
                            <div class="bidding-name-bidder">Thinh Dinh placed a bid &nbsp</div>
                        </div>

                    </div>


                </div>
                <div class="place-bid">
                    <div class="place-bid-content">
                        <div class="place-bid-content-row1">
                            <div class="number-of-bidders-icon">
                                <i class="fa-solid fa-users-line"></i>
                            </div>
                            <div class="number-of-bidders-text">
                                Number of bidders
                            </div>
                            <div class="number-of-bidders">
                                4
                            </div>
                        </div>
                        <hr>
                        <div class="place-bid-content-row2">
                            <div class="buy-price-icon">
                                <i class="fa-solid fa-file-invoice-dollar"></i>
                            </div>
                            <div class="buy-price-text">Buy price</div>

                        </div>
                        <div class="place-bid-content-row3">$140</div>
                        <button class="place-bid-btn">Place bid at $150</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer class="footer">
        <div class="logo-footer">
            <img class="logo-img-footer" src="../../assets/images/logo_png.png" alt="">
            <div class="name-project-footer">Nishikigoi Nexus</div>
        </div>
        <div class="social-contact">
            <div class="instagram">
                <img src="../../assets/images/Instagram.svg" alt="">
            </div>
            <div class="facebook">
                <img src="../../assets/images/Social Icons (1).svg" alt="">
            </div>
            <div class="google">
                <img src="../../assets/images/Vector.svg" alt="">
            </div>
        </div>
        <div class="nav-bar-footer">
            <a href="#">Home</a>
            <a href="#">Blog</a>
            <a href="#">Contact</a>
            <a href="#">About</a>

        </div>
    </footer>
</body>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Lấy các phần tử cần thiết
        const incrementButton = document.querySelector('.add');
        const decrementButton = document.querySelector('.substract');
        const bidDisplay = document.querySelector('.increment-bid-number');
        const subImages = document.querySelectorAll('.fish-sub-img1');
        const mainImage = document.querySelector('.main-fish-img');

        // Kiểm tra nếu các phần tử tồn tại để tránh lỗi
        if (incrementButton && decrementButton && bidDisplay) {
            // Xử lý sự kiện tăng giá bid
            incrementButton.addEventListener('click', () => {
                let currentValue = parseInt(bidDisplay.textContent);
                if (currentValue < 5) {
                    bidDisplay.textContent = currentValue + 1;
                }
            });

            // Xử lý sự kiện giảm giá bid
            decrementButton.addEventListener('click', () => {
                let currentValue = parseInt(bidDisplay.textContent);
                if (currentValue > 1) {
                    bidDisplay.textContent = currentValue - 1;
                }
            });
        }

        // Xử lý sự kiện khi hover vào các hình ảnh nhỏ để thay đổi hình chính
        if (subImages && mainImage) {
            subImages.forEach(subImage => {
                subImage.addEventListener('mouseenter', () => {
                    const newSrc = subImage.getAttribute('data-src');
                    mainImage.src = newSrc;
                });

                subImage.addEventListener('mouseleave', () => {
                    // Bạn có thể đặt lại hình ảnh chính nếu muốn
                    // mainImage.src = '../../assets/images/login1.png'; // Hình ảnh mặc định
                });
            });
        }
    });
</script>


</html>