<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForgotPassword</title>
    <link rel="stylesheet" href="ForgotPassword.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="reset-password-page">
        <div class="reset-password-content">
            <div class="left-content">
                <div class="logo-name">
                    <div class="logo">
                    </div>
                    <div class="name">Nishikigoi Nexus</div>
                </div>
            </div>
            <div class="right-content">
                <div class="reset-password-form">
                    <div class="reset-password-form-title">Forgot password </div>
                    <div class="reset-password-form-content">
                        <div class="text-note">Enter your email and we’ll send a link to reset your password</div>

                        <div class="email">
                            <div class="email-title">Email</div>
                            <input class="email-input" type="text">
                        </div>

                        <div class="reset-password-div">
                            <button class="reset-password-btn">Reset password</button>
                            <div class="text-with-reset-password">
                                Already have an account?
                                <a class="login" href="#">Login</a>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


</body>

</html>