<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForgotPasswordSubmitted</title>
    <link rel="stylesheet" href="ForgotPasswordSubmitted.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="reset-password-submitted-page">
        <div class="reset-password-submitted-content">
            <div class="left-content">
                <div class="logo-name">
                    <div class="logo">
                    </div>
                    <div class="name">Nishikigoi Nexus</div>
                </div>
            </div>
            <div class="right-content">
                <div class="reset-password-submitted-form">
                    <div class="reset-password-submitted-form-title">Check your email....</div>
                    <div class="reset-password-submitted-form-content">
                        <div class="check-your-email">
                            <div class="check-your-email-text">There should be a link to recover your account.</div>
                        </div>
                        <div class="reset-password-submitted-div">
                            <button class="reset-password-submitted-btn">Back to login</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


</body>

</html>