<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeScreenForBidder</title>
    <link rel="stylesheet" href="HomeScreenBidder.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="header">
        <div class="navigation-bar">
            <div class="navigation-bar-left-content">
                <img class="logo" src="../assets/images/logo_png.png" alt="">
                <div class="project-name">Nishikigoi Nexus</div>
            </div>

            <div class="navigation-bar-right-content">
                <a class="request">REQUEST</a>
                <a class="home">HOME</a>
                <a class="auction">AUCTION</a>
                <a class="blog">BLOG</a>
                <a class="about">ABOUT</a>
                <div class="account">ACCOUNT</div>
            </div>
        </div>
        <div class="slogan">
            <div class="slogan-above">
                BIDDING FOR
            </div>
            <div class="slogan-under">
                BEAUTY
            </div>
        </div>
        <div class="content-extra-parent">
            <div class="content-extra">
                <div class="representative-sample-fish">
                    <img class="representative-sample-fish-img" src="../assets/images/Rectangle 7.png" alt="">
                    <div class="representative-sample-fish-details">
                        <div class="representative-sample-fish-name">Tancho Goshiki</div>
                        <div class="representative-sample-auction-number">Auction #69</div>
                        <div class="representative-sample-fish-start-price">Start price: $210</div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="body-content">
        <div class="body-1">
            <div class="body-1-text">
                <div class="body-1-title">Discover Exquisite Nishikigoi
                    <div class="red-rectangle"></div>
                </div>
                <div class="body-1-content">Our meticulously curated auctions showcase an impressive array of
                    Nishikigoi varieties, from the timeless beauty of Kohaku to the shimmering scales of Gin Rin. Each
                    fish is carefully selected for its quality, pattern, and lineage, ensuring that only the finest
                    living art pieces grace our virtual auction space.</div>
            </div>
            <div class="body-1-img">
                <img src="../assets/images/body1.png" alt="">
            </div>

        </div>
        <div class="body-2">
            <div class="body-2-img">
                <img src="../assets/images/boyd2.png" alt="">
            </div>
            <div class="body-2-text">
                <div class="body-2-title">
                    <div class="red-rectangle"></div>
                    More Than Just an Auction
                </div>
                <div class="body-2-content">Nishikigoi Nexus is the central hub for all things Nishikigoi. Explore our
                    resources section for expert advice on Nishikigoi care, pond management, and the latest trends in
                    the Nishikigoi world. Connect with fellow enthusiasts in our forums to share experiences and deepen
                    your appreciation for these living works of art.</div>
            </div>
        </div>

    </div>
    <footer class="footer">
        <div class="logo-footer">
            <img class="logo-img-footer" src="../assets/images/logo_png.png" alt="">
            <div class="name-project-footer">Nishikigoi Nexus</div>
        </div>
        <div class="social-contact">
            <div class="instagram">
                <img src="../assets/images/Instagram.svg" alt="">
            </div>
            <div class="facebook">
                <img src="../assets/images/Social Icons (1).svg" alt="">
            </div>
            <div class="google">
                <img src="../assets/images/Vector.svg" alt="">
            </div>
        </div>
        <div class="nav-bar-footer">
            <a href="#">Home</a>
            <a href="#">Blog</a>
            <a href="#">Contact</a>
            <a href="#">About</a>

        </div>
    </footer>
</body>

</html>