<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserBidHistory</title>
    <link rel="stylesheet" href="UserBidHistory.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="header">
        <div class="navigation-bar">
            <div class="navigation-bar-left-content">
                <img class="logo" src="../../assets/images/logo_png.png" alt="">
                <div class="project-name">Nishikigoi Nexus</div>
            </div>

            <div class="navigation-bar-right-content">
                <a class="staff">STAFF</a>
                <a class="home">HOME</a>
                <a class="auction">AUCTION</a>
                <a class="blog">BLOG</a>
                <a class="about">ABOUT</a>
                <a class="account">ACCOUNT</a>
            </div>
        </div>
    </div>
    <div class="body-content">
        <div class="table-unpaid-aution">
            <div class="table-unpaid-aution-name">
                Upaid Auction
            </div>
            <table>
                <tr>
                    <th>No</th>
                    <th>Auction ID</th>
                    <th>Fish Entry ID</th>
                    <th>Auction Date</th>
                    <th>Sold Price</th>
                    <th></th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>YYYY/MM/DD hh:mm:ss</td>
                    <td>Active</td>
                    <td> <button class="pay-auction-btn">Pay Auction</button></td>
                </tr>

            </table>
        </div>

        <div class="table-auction-history">
            <div class="table-auction-history-name">
                Auction history
            </div>
            <table>
                <tr>
                    <th>No</th>
                    <th>Auction ID</th>
                    <th>Fish Entry ID</th>
                    <th>Auction Date</th>
                    <th>Winner</th>
                    <th>Sold Price</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>YYYY/MM/DD hh:mm:ss</td>
                    <td>0362683366</td>

                    <td>Active</td>
                </tr>

            </table>
        </div>

    </div>



    </div>



</body>

</html>