<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserAddress</title>
    <link rel="stylesheet" href="UserAddress.css">
</head>

<body>
    <div class="header"></div>

    <div class="delivery-address-background">
        <div class="delivery-adddress-content">
            <div class="delivery-details-title">Delivery details</div>
            <div class="delivery-start-date">Start date: YYYY/MM/DD hh:mm:ss</div>
            <div class="winner-and-phone">
                <div class="winner">
                    <label for="winner-input">Winner</label>
                    <input type="text" class="winner-input">
                </div>
                <div class="phone">
                    <label for="phone-input">Phone</label>
                    <input type="text" class="phone-input">
                </div>
            </div>
            <div class="city-and-address">
                <div class="city">
                    <label for="city-input">City</label>
                    <input type="text" class="city-input">
                </div>
                <div class="address">
                    <label for="address-input">Address</label>
                    <input type="text" class="address-input">
                </div>
            </div>
            <div class="delivery-status">Status: We are getting your fish from breeder</div>
        </div>
    </div>

</body>

</html>