* {
  margin     : 0;
  padding    : 0;
  border     : 0;
  font-size  : 100%;
  font-family: "Saira Condensed";
}

body {
  background: #e7cdbf;
}

.header {
  width     : 100%;
  background: #000;

  display        : flex;
  justify-content: center;
  align-items    : center;
  align-self     : stretch;
}

.navigation-bar {
  gap            : 30px;
  width          : 80%;
  display        : flex;
  align-items    : center;
  color          : #fff;
  justify-content: center;
  align-items    : center;
  justify-content: space-between;
}

.logo {
  width : 64px;
  height: 64px;
}

.navigation-bar-left-content {
  display    : flex;
  align-items: center;
  gap        : 11px;
}

.project-name {
  color: #fff;

  font-family: "Saira Condensed";
  font-size  : 32px;
  font-style : normal;
  font-weight: 700;
  line-height: normal;
}

// .navigation-bar-right-content {
//   display        : flex;
//   justify-content: space-between;
//   align-items    : center;
//   flex-shrink    : 0;
//   gap            : 50px;
// }

// .home,
// .auction,
// .blog,
// .about,
// .account {
//   color      : #fff;
//   font-family: "Saira Condensed";
//   font-size  : 20px;
//   font-style : normal;
//   font-weight: 700;
//   line-height: normal;
//   padding    : 8px 15px;
//   cursor     : pointer;
// }

// .home:hover,
// .auction:hover,
// .blog:hover,
// .about:hover,
// .account:hover {
//   opacity: 0.7;
// }

// .request {
//   border-radius: 24px;
//   background   : var(--Do, #df0012);
// }

// .account {
//   border-radius: 40px;
//   background   : #3d3d3d;
// }

// .slogan {
//   width   : 80%;
//   position: absolute;
// }

// .slogan-above,
// .slogan-under {
//   color      : #fff;
//   font-family: "Saira Condensed";
//   font-size  : 100px;
//   font-style : normal;
//   font-weight: 700;
//   line-height: 100px;
// }

.footer {
  background     : url(../../../assets/images/Form.png);
  background-size: cover;
  width          : 100vw;
  height         : 300px;
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-direction : column;
}

.logo-footer {
  display    : inline-flex;
  align-items: center;
  gap        : 11px;
  width      : 80%;
  margin     : 0 auto;
}

.logo-img-footer {
  width : 108px;
  height: 108px;
}

.name-project-footer {
  color      : #fff;
  font-family: "Saira Condensed";
  font-size  : 64px;
  font-style : normal;
  font-weight: 700;
  line-height: normal;
}

.social-contact {
  width          : 80%;
  display        : flex;
  gap            : 20px;
  justify-content: flex-end;
  border-bottom  : 0.75px solid #fff;
  opacity        : 0.7;
}

.nav-bar-footer a:hover,
.instagram:hover,
.facebook:hover,
.google:hover {
  opacity: 0.5;
  cursor : pointer;
}

.nav-bar-footer {
  display   : flex;
  gap       : 50px;
  margin-top: 20px;
}

.nav-bar-footer a {
  color          : #fff;
  text-decoration: none;
  font-size      : 20px;
  font-style     : normal;
  font-weight    : 250;
  line-height    : normal;
}

.fish-aucction-method3-content {
  display: grid;
  width  : 80%;
  margin : 0 auto;
  gap    : 10px;

  .fish-aucction-method3-content-row1 {
    color      : #000;
    font-family: "Saira Condensed";
    font-size  : 40px;
    font-style : normal;
    font-weight: 700;
    line-height: normal;
    margin-top : 110px;
    text-align : center;
  }

  .fish-aucction-method3-content-row2 {
    color      : #000;
    font-family: "Saira Condensed";
    font-size  : 24px;
    font-style : normal;
    font-weight: 400;
    line-height: normal;
    text-align : center;
  }

  .fish-aucction-method3-content-row3 {
    display              : grid;
    grid-template-columns: 40% auto;
    gap                  : 20px;

    .fish-aucction-method3-content-row3-col1 {
      display           : grid;
      grid-template-rows: 70% 20%;
      gap               : 20px;

      .main-fish-img {
        width          : 100%;
        height         : 100%;
        // max-height: 650px;
        object-fit     : cover;
        object-position: center;
        border-radius  : 12px;
      }

      img {
        width        : 100%;
        height       : 100%;
        border-radius: 12px;
      }

      .fish-sub-img {
        display        : flex;
        gap            : 10px;
        justify-content: space-between;

        .fish-sub-img1 {
          // background: url("../../../assets/images/body1.png");
          width        : 23%;
          height       : 150px;
          border-radius: 6px;

          &:hover {
            cursor : pointer;
            opacity: 0.7;
          }
        }
      }
    }

    .fish-aucction-method3-content-row3-col2 {
      display           : grid;
      grid-template-rows: auto;
      gap               : 30px;

      .fish-info {
        width                : 100%;
        border-radius        : 12px;
        background           : #e3a689;
        box-shadow           : 2px 4px 6px 0px rgba(0, 0, 0, 0.25);
        display              : grid;
        grid-template-rows   : auto;
        grid-template-columns: 90%;
        justify-content      : center;
        gap                  : 15px;

        .fish-info-row1 {
          margin-top     : 40px;
          display        : flex;
          justify-content: space-between;
          align-items    : center;

          .fish-info-name {
            color      : #000;
            font-family: "Saira Condensed";
            font-size  : 36px;
            font-style : normal;
            font-weight: 600;
            line-height: normal;
          }

          .fish-info-notion {}
        }

        .fish-info-row2 {
          display        : flex;
          justify-content: space-between;
          align-items    : center;

          .fish-info-ending {
            color      : #000;
            font-family: "Saira Condensed";
            font-size  : 20px;
            font-style : normal;
            font-weight: 400;
            line-height: normal;
          }

          .fish-info-tag {
            display    : flex;
            align-items: center;
            gap        : 5px;

            .fish-number {
              color       : #000;
              leading-trim: both;
              text-edge   : cap;
              font-family : "Saira Condensed";
              font-size   : 20px;
              font-style  : normal;
              font-weight : 500;
              line-height : normal;
            }
          }
        }

        .fish-info-row3,
        .fish-info-row4 {
          display        : flex;
          justify-content: space-between;

          .fish-info-weight,
          .fish-info-length,
          .fish-info-gender,
          .fish-info-age {
            display      : flex;
            align-items  : center;
            display      : flex;
            height       : 78px;
            align-items  : center;
            border-radius: 25px;
            border       : 0.5px solid #000;
            background   : #e3a689;
            width        : 48%;
            position     : relative;

            i {
              font-size: 32px;
              position : absolute;
              left     : 10px;
            }

            .weight-number,
            .length-number,
            .gender-text,
            .age-text {
              position   : absolute;
              right      : 10px;
              color      : #000;
              font-family: "Saira Condensed";
              font-size  : 26px;
              font-style : normal;
              font-weight: 500;
              line-height: normal;
            }
          }
        }

        .fish-info-row5 {
          border-radius  : 25px;
          border         : 0.5px solid #000;
          background     : #e3a689;
          display        : flex;
          height         : 78px;
          justify-content: space-between;
          align-items    : center;
          flex-shrink    : 0;
          align-self     : stretch;
          position       : relative;
          margin-bottom  : 30px;

          .fish-info-origin {
            display    : flex;
            align-items: center;

            i {
              font-size: 32px;
              position : absolute;
              left     : 10px;
            }

            .origin-text {
              color      : #000;
              font-family: "Saira Condensed";
              font-size  : 26px;
              font-style : normal;
              font-weight: 500;
              line-height: normal;
              position   : absolute;
              right      : 10px;
            }
          }
        }
      }

      .bidding-history-background {
        border-radius  : 12px;
        background     : #121212;
        box-shadow     : 2px 4px 6px 0px rgba(0, 0, 0, 0.25);
        display        : flex;
        justify-content: center;
        align-items    : center;

        .bidding-history-content {
          width                : 95%;
          grid-template-columns: 90%;
          display              : grid;
          gap                  : 10px;
          padding              : 10px 0;

          .bidding-history-info {
            display    : flex;
            color      : #fff;
            font-family: "Saira Condensed";
            font-size  : 20px;
            font-style : normal;
            font-weight: 250;
            line-height: normal;

            .bidding-time,
            .bidding-price {
              color      : var(--Do, #df0012);
              font-family: "Saira Condensed";
              font-size  : 20px;
              font-style : normal;
              font-weight: 250;
              line-height: normal;
            }
          }
        }
      }

      .place-bid {
        border-radius: 12px;
        background   : #e3a689;
        box-shadow   : 2px 4px 6px 0px rgba(0, 0, 0, 0.25);
        margin-bottom: 50px;

        .place-bid-content {
          display: block;

          .place-bid-content-row1 {
            display   : flex;
            width     : 85%;
            margin    : 0 auto;
            position  : relative;
            margin-top: 20px;

            .current-price-icon {
              font-size   : 24px;
              margin-right: 20px;
            }

            .current-price {
              position   : absolute;
              right      : 0;
              color      : #000;
              font-family: "Saira Condensed";
              font-size  : 24px;
              font-style : normal;
              font-weight: 500;
              line-height: normal;
            }

            .current-price-text {
              color      : #000;
              font-family: "Saira Condensed";
              font-size  : 24px;
              font-style : normal;
              font-weight: 400;
              line-height: normal;
            }
          }

          hr {
            border    : none;
            border-top: 1px solid #000;
            width     : 85%;
            margin    : 0 auto;
            margin-top: 10px;
          }

          .place-bid-content-row2 {
            display        : flex;
            justify-content: space-between;
            width          : 85%;
            margin         : 0 auto;
            margin-top     : 10px;

            .increment {
              .increment-text {
                color      : #000;
                font-family: "Saira Condensed";
                font-size  : 16px;
                font-style : normal;
                font-weight: 300;
                line-height: normal;
              }

              .increment-number {
                color      : #000;
                text-align : center;
                font-family: "Saira Condensed";
                font-size  : 32px;
                font-style : normal;
                font-weight: 500;
                line-height: normal;
              }
            }

            .multiple,
            .equal {
              color      : #000;
              font-family: "Saira Condensed";
              font-size  : 32px;
              font-style : normal;
              font-weight: 500;
              display    : flex;
              line-height: normal;
              align-self : flex-end;
            }

            .total-bid-price {
              color      : #000;
              text-align : center;
              font-family: "Saira Condensed";
              font-size  : 32px;
              font-style : normal;
              font-weight: 500;
              line-height: normal;
              align-self : flex-end;
            }

            .cen-div {
              display        : flex;
              gap            : 10px;
              border-radius  : 32px;
              border         : 1px solid #000;
              width          : 135px;
              height         : 32px;
              padding        : 1px 4px;
              justify-content: center;
              align-items    : center;
              gap            : 10px;
              align-self     : flex-end;
              justify-content: space-between;

              .substract,
              .add {
                color          : #fff;
                leading-trim   : both;
                text-edge      : cap;
                font-family    : "Saira Condensed";
                font-size      : 30px;
                font-style     : normal;
                font-weight    : 400;
                line-height    : normal;
                border-radius  : 50%;
                background     : red;
                width          : 24px;
                height         : 24px;
                text-align     : center;
                display        : flex;
                align-items    : center;
                justify-content: center;

                &:hover {
                  cursor : pointer;
                  opacity: 0.7;
                }
              }

              .increment-bid-number {
                color             : #000;
                font-family       : "Saira Condensed";
                font-size         : 24px;
                font-style        : normal;
                font-weight       : 500;
                line-height       : normal;
                background        : none;
                -webkit-appearance: none;
              }
            }
          }

          .place-bid-btn {
            display        : flex;
            height         : 64px;
            justify-content: center;
            align-items    : center;
            align-self     : stretch;
            border-radius  : 12px;
            background     : var(--Do, #df0012);
            width          : 90%;
            color          : #fff;
            font-family    : "Saira Condensed";
            font-size      : 22px;
            font-style     : normal;
            font-weight    : 600;
            line-height    : normal;
            letter-spacing : 4.4px;
            margin         : 0 auto;
            margin-top     : 20px;
            margin-bottom  : 20px;

            &:hover {
              cursor : pointer;
              opacity: 0.7;
            }
          }
        }
      }

      .place-bid-status4 {
        border-radius: 12px;
        background   : #4caf50;
        box-shadow   : 2px 4px 6px 0px rgba(0, 0, 0, 0.25);
        text-align   : center;

        .place-bid-content-status4 {
          display: block;
          width  : 100%;
          height : 100%;

          .place-bid-content-row1-status4-no-winner {
            color      : rgba(255, 255, 255, 0.6);
            font-size  : 32px;
            font-style : normal;
            font-weight: 600;
            line-height: normal;
            text-align : center;
          }

          .place-bid-content-row1-status4 {
            color      : #fff;
            font-family: "Saira Condensed";
            font-size  : 48px;
            font-style : normal;
            font-weight: 600;
            line-height: normal;
          }

          .place-bid-content-row2-status4 {
            color      : #fff;
            font-family: "Saira Condensed";
            font-size  : 40px;
            font-style : normal;
            font-weight: 500;
            line-height: normal;
          }

          .place-bid-content-row3-status4 {
            color      : #fff;
            font-family: "Saira Condensed";
            font-size  : 20px;
            font-style : normal;
            font-weight: 300;
            line-height: normal;
          }
        }
      }
    }
  }
}

.auction-status-message {
  background-color: #f8d7da;
  /* Nền màu hồng nhạt */
  color           : #721c24;
  /* Màu chữ */
  border          : 1px solid #f5c6cb;
  /* Đường viền hồng */
  border-radius   : 5px;
  /* Bo tròn các góc */
  padding         : 15px;
  /* Khoảng cách bên trong */
  margin          : 20px 0;
  /* Khoảng cách giữa các phần tử */
  font-size       : 16px;
  /* Kích thước chữ */
  display         : flex;
  align-items     : center;
  /* Căn giữa theo chiều dọc */
}

.auction-status-message p {
  margin: 0;
  /* Xóa khoảng cách mặc định của thẻ p */
}

.auction-status-message i {
  margin-right: 10px;
  /* Khoảng cách giữa biểu tượng và văn bản */
}

/* Thêm kiểu cho biểu tượng */
.auction-status-message .fa-solid {
  font-size: 18px;
  /* Kích thước biểu tượng */
}